<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Adding Bulma link for css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Adding mathjax for mathml view  -->
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"> </script>
    <script async src="{{url_for('static', filename='/js/script2.js')}}"></script>

    <title>PYPs</title>

</head>

<body onload="create_exams()">
    <div class="container">

        <div class="pt-4 pb-6 has-text-centered">
            <h1 class="has-text-weight-bold is-size-3 has-text-link	">
                A website for Previous Year Questions
            </h1>
            <h2 class="has-text-weight-semibold is-size-5 is-underlined	">
                Best for JEE Main and NEET Practice
            </h2>

        </div>

        <div class="field is-grouped">
            <p class="control is-expanded">
                <input class="input" type="text" placeholder="Search Your Paper Here">
            </p>
            <p class="control">
                <a class="button is-info">
                    Search
                </a>
            </p>
        </div>

        <div class="pt-4 has-text-centered is-size-5">
            Or get your <span class="has-text-weight-semibold">Paper</span> by using a <span
                class="has-text-weight-semibold">Filter</span>
        </div>
        <div class="container">

        </div>

        <div class="control py-6 has-text-centered"> 
            <!-- onsubmit="filter_form__submit()" -->
            <form id="filter_form" method="POST" >
            <!-- <form id="filter_form" method="POST" > -->

                <div class="select ">
                    <select name="Exam" id="Exam" title="Select an Exam" onchange="filter_function_Exam()" >
                        <option value="Select an Exam">Select an Exam</option>
                        <!-- <option value="JEE Main">JEE Main</option> -->
                    </select>
                </div>
                <div class="select mx-6">
                    <select name="Year" id="Year" title="Select a Year" onchange="filter_function_Year()" >
                        <option value="Select a Year">Select a Year</option>
                    </select>
                </div>
                <div class="select">
                    <select name="Paper" id="Paper" title="Select your favorite Paper" onchange="filter_function_Paper()" >
                        <option value="Select a Paper">Select your favorite Paper</option>
                    </select>
                </div>
                <div class="select ml-6">
                    <select name="Subject" id="Subject" title="All Subjects" >
                        <option value="All Subjects">All Subjects</option>
                    </select>
                </div>

                <div class="pt-5 columns">
                    <div class="column">
                        <button title="reset" type="reset" id="reset" class="m-6 button is-rounded has-background-danger-dark is-success ml-6">
                            Reset All Filters
                        </button>
                        <button formaction="http://localhost:7000/practice" value="Practice" name="Practice" id="practice" title="Practice" type="submit" class="m-6 button is-rounded has-background-success-dark is-success ml-6">
                            Go for Practice
                        </button>
                        <button formaction="http://localhost:7000/view_all" value="View" name="View" id="view" title="View All" type="submit" class="m-6 button is-rounded has-background-link-dark is-success ml-6">
                            View All Questions
                        </button>

                    </div>
                </div>
            </form>

        </div>


    </div>


</body>

</html>